.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
config/dev.json
config/prod.json
*.jks
*.keystore
/.idea
